################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tasktServer/Client/bin/Debug/netstandard2.1
