################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tasktServer/Client/bin/Debug/netstandard2.1
/tasktServer/Client/obj
/tasktServer/Server/bin/Debug/netcoreapp3.1
/tasktServer/Server/obj
/tasktServer/Shared/bin/Debug/netstandard2.1
/tasktServer/Shared/obj
/.vs/tasktServer
/tasktServer.Database/obj
