@{ 

}
<html>
<head>

</head>
<body>
    <div class="panel panel-default" id="workforcePanel">
        <div class="panel-body">
            <div class="container">

                <h2>assignments</h2>
                <h4>create assignments which schedule and assign a task to be executed by one or multiple remote workers in your workforce.</h4>
                <hr />
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#demo-modal-3">new job</button>
                <h5>It looks like you have not set up any jobs yet! Click 'new job' to set one up.  </h5>
                <div class="alert alert-info ">
                    <strong>Quick Tip:</strong> Remember that in order for a robot worker to execute a job, it must be connected and in a valid ready state to execute.
                </div>

                <div class="alert alert-info">
                    <strong>Quick Tip:</strong> Once a job is ready to execute, taskt server will send the job to the client and monitor the progress
                </div>

                <p></p>

                <form class="modal fade multi-step" id="demo-modal-3" aria-hidden="true" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" id="modalheader">
                            <h4 class="margin-top-30 text-center">new task</h4>

                                @*<div class="m-progress">
                                    <div class="m-progress-bar-wrapper">
                                        <div class="m-progress-bar" style="width: 66.6667%;">
                                        </div>
                                    </div>
                                    <div class="m-progress-stats">
                                        <span class="m-progress-current">2</span>
                                        /
                                        <span class="m-progress-total">3</span>
                                    </div>
                                    <div class="m-progress-complete" style="display: none;">
                                        Completed
                                    </div>
                                </div>*@
                            </div>
                            <div class="modal-body step-1" data-step="1" style="display: none;">
                                <h3>Upload a task that you want the pool to execute.</h3>

                                
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Select a task file (.xml)</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                    </div>
                              

                            </div>
                            <div class="modal-body step-2" data-step="2" style="display: block;">
                                <h3>Define the execution timeframe.</h3>

                                <div class="form-group">
                                    <label for="start-date">Start Date</label>
                                    <input type="date" id="start-date" name="start-date" />

                                    <label for="start-time">Start Time:</label>
                                    <input type="time" id="start-time" />

                                </div>

                                <div class="form-group">
                                    <label for="end-date">Expire Date</label>
                                    <input type="date" id="end-date" name="end-date" />

                                    <label for="end-time">Expire Time:</label>
                                    <input type="time" id="end-time" />

                                </div>


                                <div class="radio">
                                    <label><input type="radio" name="optradio"  onclick="setupRecurrence('one time')"checked>One Time</label>
                                </div>

                                <div class="radio">
                                    <label><input type="radio" name="optradio" onclick="setupRecurrence('daily')">Daily</label>
                                </div>

                                <div class="radio">
                                    <label><input type="radio" name="optradio" onclick="setupRecurrence('weekly')">Weekly</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="optradio" onclick="setupRecurrence('monthly')">Monthly</label>
                                </div>

                                <div id="subSelections">

                                </div>


                            </div>
                            <div class="modal-body step-3" data-step="3" style="display: none;">
                                <h3>Define the workers that should execute the task.</h3>

                             

                                    <div class="spinner">
                                        <div class="cube1"></div>
                                        <div class="cube2"></div>
                                    </div>

                         

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-warning step step-2" data-step="2" onclick="sendEvent('#demo-modal-3', 1)" style="display: inline-block;">Back</button>
                                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent('#demo-modal-3', 2)" style="display: none;">Continue</button>
                                <button type="button" class="btn btn-warning step step-3" data-step="3" onclick="sendEvent('#demo-modal-3', 2)" style="display: none;">Back</button>
                                <button type="button" class="btn btn-primary step step-2" data-step="2" onclick="sendEvent('#demo-modal-3', 3)" style="display: inline-block;">Continue</button>
                                <button type="button" class="btn btn-success step step-3" data-step="3" onclick="addTaskToPool()" style="display: inline-block;">Save</button>
                            </div>
                        </div>
                    </div>
                </form>

      
                <script src="~/lib/modals/multi-step-modal.js"></script>
                <script>
                    sendEvent = function (sel, step) {
                        $(sel).trigger('next.m.' + step);
                    }

                </script>

            </div>
        </div>
    </div>
</body>
</html>