@{ 

}
<html>
<head>

</head>
<body>
    <div class="panel panel-default" id="workforcePanel">
        <div class="panel-body">
            <div class="container">

                <h2>agenda</h2>
                <h4>view upcoming, current, and recently fininshed assignments.</h4>
                <hr />
              
            </div>
        </div>
    </div>
</body>
</html>