<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-treeview.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ropa+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">




    <script src="~/lib/jquery/dist/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-treeview.js"></script>


    <link rel="stylesheet" href="~/css/pages/bots.css" />
    <script src="~/js/pages/bots.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('document').ready(function () {

            loadWorkforce(true);
            //loadAssignments(true);
            //loadSchedule(true);
            
        });
    </script>
</head>
<body>
    <div class="notification-header" id="notificationHeader">

    </div>
    <div class="jumbotron text-center" style="background-color:#10668B;">
        <h1 style="color:#fff;">tasktServer<sup>alpha</sup></h1>

    </div>

    <div id="workforce">
        <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
    </div>



    @*<div id="assignments" class="coming-soon">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>

        <div id="schedule" class="coming-soon">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>*@


    <footer class="text-center">
        <p style="color:#fff">tasktServer &copy; 2018 Jason Bayldon</p>
    </footer>

  
    <div id="logs"></div>

</body>
</html>