body {
    background: #005C97; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #363795, #005C97); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, p {
    color: white;
}
