@{
    ViewData["Title"] = "My Bots";
}
<html>
<head>
</head>
<body>
    <div class="notification-header" id="notificationHeader">
      
    </div>
    <div id="workspace">


    </div>

</body>
</html>