@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-white bg-dark" style=" background-image: url('../images/fields.jpeg'); background-size: 2000px 1000px; background-position: center; ">
    <h1 class="display-3">Welcome.</h1>
    <p class="lead">sharpRPA Automation Dashboard</p>
</div>
<br />