@page "/workers"

<div class="card" style="margin: 0px 10px 10px 0px;">
    <div class="card-body">
        <h2>Workers</h2>
        <p>The following section provides a full list of all known workers.  When workers call in to the platform to provide updates, they are automatically added to the list.</p>
        <WorkersTable></WorkersTable>
    </div>
</div>




@code {

}
